* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input {
    outline: none;
    border: none;
}

button {
    display: inline-block;
    border: none;
}

a, button {
    cursor: pointer;
}
